body { 

}

h1 {
    font-size: 1.8em;;
}

.lead {
    color: #333;
}

.text-primary {
    list-style: disc outside none;
    display:list-item; 
    list-style-image: url('/bullet.png');
}

.bg-info, .bg-warning {
    padding: 10px;
}
.text-secondary, .text-ternary {
    display: none;
}
